{% extends 'base.html' %}

{% block title %}
Календарь знаменательных дат
{% endblock %}

{% block content %}
<div class="row">
    {% for item in object_list %}
    <div class="history-block col-md-5">
        {% if item.image %}
        <img src="{{ item.image.url }}" alt="{{ item.name }}">
        {% endif %}
        <div class="card-body text-dark">
            {% if item.caption %}
            <p>{{ item.caption }}</p>
            {% endif %}
            {% if item.text %}
            <p>{{ item.text }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
