<nav class="bottombar row navbar-expand-lg w-100 justify-content-center">
    <div class="">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-center">
                <li class="nav-item"><a href="https://ok.ru/plavskayar">
                    <img src="static/img/ok_logo.png" alt="" height="50" width="50">
                </a>
                </li>
                <li class="nav-item">
                    <a href="https://vk.com/plavskbiblioteka">
                        <img src="/static/img/vk_logo.png" alt="" height="50" width="50">
                    </a>
                </li>
            </ul>
        </div>
        <div>
            МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ МУНИЦИПАЛЬНОГО ОБРАЗОВАНИЯ ПЛАВСКИЙ РАЙОН
            "ЦЕНТРАЛИЗОВАННАЯ БИБЛИОТЕЧНАЯ СИСТЕМА" &copy; 2022
        </div>
    </div>
</nav>
