<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{% static 'visually_impaired/jquery.js' %}"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel='stylesheet' href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/style.css' %}">


    {% block css_addition %}{% endblock %}

    <title>{% block title %}TITLE{% endblock %}</title>
</head>
<body>

{% include 'inc/_navbar.html' %}

<div class="content container mt-2">

    {% block content %}
    CONTENT
    {% endblock %}

    {% include 'inc/_bottombar.html' %}

</div>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
