{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>{{ title }}</h3>
        <div class="col row-cols-md-2">
            <div class="d-grid gap-2">
                {% for item in object_list %}
                <button class="btn btn-light" type="button">
                    <a href='{{ item.doc.url }}' class="document button">{{ item.name }}</a>
                </button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
