{% extends 'base.html' %}

{% block title %}
Календарь знаменательных дат
{% endblock %}

{% block content %}
<div class="row">
    <h2>{{ title }}</h2>
    <div class="col-md-12">
        <div class="row row-cols-md-3">
            <div class="card-group">
                {% for item in object_list %}
                <div class="card h-100" style="width: 28rem;">
                    <img src="{{ item.image.url }}" alt="{{ item.name }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
