html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
}
body {
    background: url("../img/back.png");
}
.navbar {
    background: rgba(255, 154, 0, 0.93);
}
.navbar .navbar-nav .nav-link {
    color: #212529;
}
.content {
    background: #fff;
    padding: 3% 2% 2% 2%;
}
.bottom_bar {
    text-align: center;
    color: #666;
    font-size: 16px;
}
.social_icon {
    padding: 10%;
}
.visually_impaired {
    cursor:pointer;
}
