.lib_title {
    text-align: center;
}
.bottom_bar {
    text-align: center;
    color: #666;
    font-size: 16px;
}
.department_content {
    margin: 3%;
}
.content {
    background: #fff;
}
body {
    background: url("../img/back.png");
}
.navbar {
    background: rgba(255, 154, 0, 0.93);
}
.navbar .navbar-nav .nav-link {
    color: #212529;
}
.history-block {
    margin: 1%;
    text-align: center;
}
.visually_impaired {
    cursor:pointer;
}
