.navbar-dark .navbar-nav .nav-link {
    color: #212529;
}
.navbar-dark .navbar-brand {
    color: #000;
}
.lib_title {
    text-align: center;
}
.bottom_bar {
    text-align: center;
    color: #666;
    font-size: 16px;
}
