{% extends 'base.html' %}

{% block title %}
{{ Title }}
{% endblock %}

{% block content %}
<div class="row">
    {{ Content|safe }}
    <img src="media/main.jpg" class="card-img-top" alt="">
    <div class="col-md-9">
            {% for item in object_list %}
            <div class="col">
                <a href="{{ item.url }}">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="">
                </a>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}
