{% extends 'base.html' %}

{% block title %}
Календарь знаменательных дат
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card-group">
            {% for item in object_list %}
            <div class="card border-dark mb-3 h-100" style="width: 28rem;">
                <div class="card-body text-dark">
                    <h5 class="card-title">{{ item.date }}</h5>
                </div>
                <div class="card-footer">
                    <p class="card-text">{{ item.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
