{% extends 'base.html' %}
{% load static %}

{% block css_addition %}
<link rel='stylesheet' href="{% static 'dates/css/style.css' %}">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>{{ title }}</h3>
        <h6>Знаменательные даты Плавского района на 2022 год</h6>
        <em>(Библиографический список литературы)</em>
        {% for year in years %}
        <h5 class="dates">Знаменательные даты Плавского района на {{ year }} год</h5>
        {% for item in object_list %}
        {% if item.year == year %}
        <div class="card">
            <div class="card-body text-dark">
                <h5 class="card-title">{{ item.date }}</h5>
            </div>
            <div class="card-footer">
                <p class="card-text">{{ item.content }}</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
