{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-5">
        <p><h5>Полное наименование учреждения:</h5> {{ full_name }}
        <p><h5>Сокращенное наименование учреждения:</h5> {{ short_name }}
        <p><h5>Дата создания организации:</h5> {{ date_creation }} год
        <p><h5>Руководитель:</h5> {{ leader }}
        <p><h5>Тип учреждения (организации):</h5> {{ organization_type }}
        <p><h5>Учредитель:</h5> {{ founder|safe }}
        <p><h5>Юридический адрес:</h5> {{ legal_address }}
        <p><h5>Фактический, почтовый адрес:</h5> {{ actual_address }}
    </div>
    <div class="col-md-7">
        <p><h4>Отделения:</h4>
        {% for department in object_list %}
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="department_content">
                <h5 class="card-title">{{ department.title }}</h5>
                <p>Телефон: {{ department.phone }}</p>
                <p>Расписание:<br>{{ department.schedule|safe }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
