{% extends 'base.html' %}

{% load news_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="row">
    <h2>{{ title }}</h2>
    <div>
        {% for item in object_list %}
        <div class="card">
            <h5 class="card-title">{{ item.title }}</h5>
            <p>{{ item.created_at }}</p>
            {% if item.text %}
            <p class="card-text">{{ item.text }}</p>
            {% endif %}
            {% if item.video %}
            <video controls="controls" class="news">
                <source src="{{ item.video.url }}">
            </video>
            {% endif %}
            {% if item.utub %}
            <iframe src="{% get_video_id item %}" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
            {% endif %}
            <div class="row">
                {% if item.image1 %}
                <div class="news-container scale col-md-4">
                    <img src="{{ item.image1.url }}" class="scale news" alt="{{ item.title }}"/>
                </div>
                {% endif %}
                {% if item.image2 %}
                <div class="news-container scale col-md-4">
                    <img src="{{ item.image2.url }}" class="news" alt="{{ item.title }}"/>
                </div>
                {% endif %}
                {% if item.image3 %}
                <div class="news-container scale col-md-4">
                    <img src="{{ item.image3.url }}" class="news" alt="{{ item.title }}"/>
                </div>
                {% endif %}
                {% if item.image4 %}
                <div class="news-container scale col-md-4">
                    <img src="{{ item.image4.url }}" class="news" alt="{{ item.title }}"/>
                </div>
                {% endif %}
                {% if item.image5 %}
                <div class="news-container scale col-md-4">
                    <img src="{{ item.image5.url }}" class="news" alt="{{ item.title }}"/>
                </div>
                {% endif %}
                {% if item.image6 %}
                <div class="news-container scale col-md-4">
                    <img src="{{ item.image6.url }}" class="news" alt="{{ item.title }}"/>
                </div>
                {% endif %}
                {% if item.image7 %}
                <div class="news-container scale col-md-4">
                    <img src="{{ item.image7.url }}" class="news" alt="{{ item.title }}"/>
                </div>
                {% endif %}
                {% if item.image8 %}
                <div class="news-container scale col-md-4">
                    <img src="{{ item.image8.url }}" class="news" alt="{{ item.title }}"/>
                </div>
                {% endif %}
                {% if item.image9 %}
                <div class="news-container scale col-md-4">
                    <img src="{{ item.image9.url }}" class="news" alt="{{ item.title }}"/>
                </div>
                {% endif %}
                {% if item.image10 %}
                <div class="news-container scale col-md-4">
                    <img src="{{ item.image10.url }}" class="news" alt="{{ item.title }}"/>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
